.day-slot {
    border: 1px solid lightgrey;
    width: 200px;
    height: 50px;
}



#weekViewTable {
    border-collapse: collapse;
}

#dayViewTable {
    border-collapse: separate;
    border-spacing: 5px;
}