.day-slot {
    border: 1px solid lightgrey;
    width: 200px;
    height: 50px;
}

.xevent {
    background-color: lightgreen;
    text-align: center;
    width: 200px;
    height: 50px;
}

.xcalendar table {
    border-collapse: collapse;
}