.day-slot {
    border: 1px solid lightgrey;
    width: 200px;
    height: 50px;
}

#xCalendarWeekViewTable {
    border-collapse: collapse;
}

#xCalendarDayViewTable {
    border-collapse: separate;
    border-spacing: 5px;
}