#xCalendarDayViewTable {
    width: 500px;
}

.delete-event, .reprogramming-event {
    cursor: pointer;
}

.patient-event {
    background-color: lightgreen;
    text-align: center;
    width: 200px;
    height: 50px;
}

.patient-event.done {
    background-color: lightgrey;
}

.patient-event.failed {
    background-color: rosybrown;
}

.patient-event.reserved {
    background-color: aquamarine;
}

.empty-slot {
    color: lightgrey;
    font-style: italic;
    background-color: lightyellow;
    width: 200px;
    height: 50px;
}

.content-popup {
    width: 200px;
    word-wrap: break-word;
}

.content-patient-event{
    word-wrap: break-word;
}

.cursive {
    font-style: italic;
}

.title {
    font-size: 200%;
}

tr.empty-day-row{
    background-color: lightyellow;
}

tr.event-day-row{
    background-color: lightgreen;
    cursor: pointer;
}

tr.event-day-row.done{
    background-color: lightgrey;
}

tr.event-day-row.failed{
    background-color: rosybrown;
}

.xpopup {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 200px;
    word-wrap: break-word;
    border: 2px solid seagreen;
    text-align: left;
}

.patient-event:hover .xpopup {
    display: block;
}

.patient-text:hover .xpopup {
    display: block;
}

